@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.pageCSS {
    display: none;
}

.activation {
    display: initial;
}

body {
    /*text-align: center;*/
    background-color: #3a1295;
    color: #deec7e;
}

/*nav {*/
/*    text-align: left;*/
/*}*/

.tableCSS {
    margin: auto;
    width: 80%;
}

.table th, .table td {
    vertical-align: middle;
    border-style: hidden;
}

.table th {

}

.lobster {
    font-family: 'Lobster', cursive !important;
}

.quote {
    color: #FFFFFF;
}

.author {
    color: #DFEBE8;
}

.flagLANG {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
}

.btn-outline-danger {
    color: deeppink !important;
    border-color: deeppink !important;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .open > .dropdown-toggle.btn-outline-danger {
    color: black !important;
    background-color: deeppink !important;
    border-color: deeppink !important; /*set the color you want here*/
}

.table-dark {
    --bs-table-bg: #2d087f !important;
    color: #e7f6a8;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: #280870 !important;
    color: #e7f6a8 !important;
}

.bg-dark {
    background-color: #2d087f !important;
}

.dropdown-menu-dark {
    background-color: #2d087f !important;
}

@media screen and (max-width: 641px) {
    body {
        width: fit-content;
    }
}

.bookListCSS {
    text-align: center;
}

.shareBookLANGdesc {
    width: 70%;
    margin: auto;
}

