@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.pageCSS {
    display: none;
}

.activation {
    display: initial;
}

body {
    /*text-align: center;*/
    background-color: #3a1295;
    color: #deec7e;
}

/*nav {*/
/*    text-align: left;*/
/*}*/

.tableCSS {
    margin: auto;
    width: 80%;
}

.table th, .table td {
    vertical-align: middle;
    border-style: hidden;
}

.table th {
    font-size: calc(1rem + 0.6vw);
    font-family: 'Montserrat Alternates', sans-serif;
}

.table td {
    color: #FFFFFF;
    font-family: 'Cousine', monospace;
}

.lobster {
    font-family: 'Lobster', cursive !important;
}

.quote {
    color: #FFFFFF;
}

.author {
    color: #DFEBE8;
}

.flagLANG {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
}

.funtheca {
    vertical-align: inherit;
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}

.btn-outline-danger {
    color: deeppink !important;
    border-color: deeppink !important;
    font-family: 'Varela Round', sans-serif;
}

.varela {
    font-family: 'Varela Round', sans-serif;
}

.btn-outline-info {
    font-family: 'Varela Round', sans-serif;
}
.btn-outline-secondary {
    font-family: 'Varela Round', sans-serif;
}

.navbar-collapse {
    font-family: 'Varela Round', sans-serif !important;
}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active, .btn-outline-danger.active, .open > .dropdown-toggle.btn-outline-danger {
    color: black !important;
    background-color: deeppink !important;
    border-color: deeppink !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary.active, .open > .dropdown-toggle.btn-outline-secondary {
    color: black !important;
}

.table-dark {
    --bs-table-bg: #2d087f !important;
    color: #e7f6a8;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: #280870 !important;
    color: #69edff !important;
}

.bg-dark {
    background-color: #2d087f !important;
}

.dropdown-menu-dark {
    background-color: #2d087f !important;
}

@media screen and (max-width: 641px) {
    body {
        width: fit-content;
    }
}

.bookListCSS {
    text-align: center;
}

.shareBookLANGdesc {
    width: 70%;
    margin: auto;
}

