<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project PwI</title>
    <link th:href="@{/img/logo.png}" rel="icon" type="image/x-icon"/>
    <link href="/webjars/bootstrap/5.1.3/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/memoryGame.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.4.5/css/flag-icons.min.css"
          integrity="sha512-uvXdJud8WaOlQFjlz9B15Yy2Au/bMAvz79F7Xa6OakCl2jvQPdHD0hb3dEqZRdSwG4/sknePXlE7GiarwA/9Wg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="../static/js/spa.js" th:src="@{/js/spa.js}"></script>
    <script src="../static/js/langs.js" th:src="@{/js/langs.js}"></script>
    <script src="../static/js/memoryGame.js" th:src="@{/js/memoryGame.js}"></script>
    <script src="../static/js/quotesRandom.js" th:src="@{/js/quotesRandom.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand spa-link ps-3 lobster fs-3" href="#" data-target="mainPage" style="color: #69edff">
            <img th:src="@{/img/logo.png}" alt="" width="30" height="24" class="d-inline-block funtheca">
            Funtheca
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active spa-link bookListLANG" href="#" data-target="bookList">Spis książek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active spa-link quoteLANG" href="#" data-target="quote">Cytat</a>
                </li>
                <li>
                    <a class="nav-link active spa-link playMemoryLANG" href="#" data-target="memoryGame">Zagraj w
                        memory!</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle techLANG" href="#" id="navbarDropdownMenuLink01" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Technologie
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink01">
                        <li><a class="dropdown-item" href="https://getbootstrap.com/">Bootstrap</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="https://spring.io/projects/spring-boot">Spring
                            Boot</a></li>
                        <li><a class="dropdown-item" href="https://www.thymeleaf.org/">Thymeleaf</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="https://github.com/gstfnk">Github</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle langsLANG" href="#" id="navbarDropdownMenuLink02" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Języki
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark langWrap" aria-labelledby="navbarDropdownMenuLink02">
                        <li>
                            <a class="dropdown-item activeLang langProp plLANG" href="#" language="polish">
                                <img th:src="@{/img/flagPL2.png}" class="flagLANG" alt="Polish" src="">
                                Polski</a>
                        </li>
                        <li>
                            <a class="dropdown-item langProp enLANG" href="#" language="english">
                                <img th:src="@{/img/flagUK2.png}" class="flagLANG" alt="English" src="">
                                Angielski</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="pageCSS bookListCSS" id="bookList">
    <div class=".center-text">
        <h1 class="display-4 mt-2 shareBookLANG lobster" style="color: #DFEBE8">Podziel się swoją ulubioną książką!</h1>
        <h4 class="display-6 fs-4 mt-2 mb-3 shareBookLANGdesc">Dzielenie się tym co pozytywne jest fajne, więc podziel
            się tym, co ostatnio wpadło
            Ci w oko ze świata magicznej książki :)</h4>
        <a role="button" href="#" class="btn btn-outline-info mt-2 mb-4 addBookLANG" data-bs-toggle="modal"
           data-bs-target="#addModal">
            Dodaj książkę
        </a>
    </div>

    <table class="tableCSS table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col" class="titleLANG">Tytuł</th>
            <th scope="col" class="authorLANG">Autor</th>
            <th scope="col" class="deleteLANG">Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book:${books}">
            <th scope="row" th:text="${counter.incrementAndGet()}">Id</th>
            <td th:text="${book.title}">Tytuł</td>
            <td th:text="${book.author}">Autor</td>
            <td><a th:href="@{/books/delete/(Id=${book.Id})}" href="#" class="btn btn-outline-danger"
                   id="deleteButton" data-bs-target="#deleteModal" role="button" data-bs-toggle="modal">X</a></td>
        </tr>
        </tbody>
    </table>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <form th:action="@{/books/addNew}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header varela">
                        <h5 class="modal-title text-light newBookLANG fs-4" id="exampleModalLabel">Nowa książka</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body varela">
                        <form>
                            <div class="form-group">
                                <input type="text" required="required"
                                       class="form-control bg-dark text-light mb-3 titlePlaceholderLANG"
                                       name="title" placeholder="Tytuł">
                            </div>
                            <div class="form-group">
                                <input type="text" required="required"
                                       class="form-control bg-dark text-light authorPlaceholderLANG"
                                       name="author" placeholder="Autor">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger exitLANG" data-bs-dismiss="modal">Zamknij
                        </button>
                        <button type="submit" class="btn btn-outline-info saveLANG">Zapisz</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
         aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light confirmDeleteLANG fs-4 varela">Potwierdź usunięcie</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body text-light">
                    <p style="margin: auto" class="questionDeleteLANG varela fs-5">Na pewno chcesz usunąć książkę?</p>
                </div>
                <div class="modal-footer">
                    <a href="" class="btn btn-outline-danger deleteLANG2" id="delRef">Usuń</a>
                    <button type="button" class="btn btn-outline-secondary exitLANG2" data-bs-dismiss="modal">Zamknij
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageCSS" id="quote" style="text-align: -webkit-center;">
    <figure class="text-center mt-5" style="width: 60%;">
        <blockquote class="blockquote quote fs-4 varela">
            <p id="quoteRandom">Kocha się za nic. Nie istnieje żaden powód do miłości.</p>
        </blockquote>
        <figcaption class="fs-5 blockquote-footer author varela" style="color: #deec7e;">
            <a id="authorRandom">Paulo Coelho</a>, <cite id="citeRandom" title="Source Title">Alchemik</cite>
        </figcaption>
    </figure>
</div>

<div class="pageCSS memoryMedia" id="memoryGame">
    <h1 class="lobster bookListCSS display-3" style="color: #DFEBE8">Memory Game</h1>
    <div class="game-container">
        <div class="game-element" data-language="java">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingGirl1.png}"
                 alt="readingGirl1"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="java">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingGirl1.png}"
                 alt="readingGirl1"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="python">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingGirl2.png}"
                 alt="readingGirl2"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="python">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingGirl2.png}"
                 alt="readingGirl2"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="ts">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingGirl3.png}"
                 alt="readingGirl3"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="ts">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingGirl3.png}"
                 alt="readingGirl3"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="csharp">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingBoy1.png}"
                 alt="readingBoy1"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="csharp">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingBoy1.png}"
                 alt="readingBoy1"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="ruby">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingBoy2.png}"
                 alt="readingBoy2"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="ruby">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingBoy2.png}"
                 alt="readingBoy2"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="js">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingBoy3.png}"
                 alt="readingBoy3"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
        <div class="game-element" data-language="js">
            <img class="exposed-memory"
                 th:src="@{/img/memory/readingBoy3.png}"
                 alt="readingBoy3"/>
            <img class="hidden-memory" th:src="@{/img/logo.png}" alt="M"/>
        </div>
    </div>
</div>

<div class="pageCSS activation" id="mainPage">
    <div class="mainPageFuntheca mb-4">
        <img class="mainPageFunthecaIMG" th:src="@{/img/logo.png}" alt=""/>
        <h1 class="display-4 mt-2 shareBookLANG lobster" style="color: #69edff">Funtheca</h1>
    </div>
    <div class="container center-text bookListCSS">
        <div class="row align-items-center">
            <div class="col">
                <h1 class="lobster mb-3" style="color: aliceblue">Spis książek</h1>
                <p class="varela">Czujesz dreszcze po przeczytaniu książki? Albo może któraś z nich sprawiła uśmiech na
                    Twojej twarzy?
                    Podziel się tytułem i jej autorem w naszym spisie książek!</p>
            </div>
            <div class="col">
                <h1 class="lobster mb-3" style="color: aliceblue">Cytat</h1>
                <p class="varela">Klikając w przycisk "Cytat" umieszczony na górnym pasku strony masz szansę wylosować
                    inną sentencję, sprawdź, czy przeczytasz coś dla siebie!</p>
            </div>
            <div class="col">
                <h1 class="lobster mb-3" style="color: aliceblue">Memory</h1>
                <p class="varela">Sprawdź siebie i swoją pamięć w prostej grze, jaką przygotowała Ci nasza strona!</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>